<div *ngIf="travelPackage; else noPackageInfo">
  <div class="mt-4 card">
    <div class="card-header">
      <i class="fas fa-arrow-left go-back-icon" (click)="goBack()" aria-hidden="true" title="Go back"></i>
      Travel Package
    </div>
    <div class="card-body">
      <div class="d-flex flex-row">
        <!-- Image container -->
        <div *ngIf="travelPackage.photos && travelPackage.photos.length > 0; else noPhoto" class="flex-shrink-0 mr-3 me-4">
          <img [src]="photoUrl" class="img-fluid rounded-2" [alt]="photoCaption" style="object-fit: cover; width: 380px; height: 380px;">
        </div>
        <!-- Text content -->

        <div class="d-flex align-items-center flex-row p-2">
          <div class="flex-grow-1">
            <h4 class="card-title mb-3">{{ travelPackage!.name }}</h4>
            <p class="card-text">{{ travelPackage!.description }}</p>
            <p class="card-text">Price: ${{ travelPackage!.price }}</p>
            <p class="card-text"><b>Travel Dates: {{ travelPackage!.startingDate | date: 'short'}} - {{ travelPackage!.endingDate | date: 'short' }}</b></p>
          </div>
        </div>

        <div class="d-flex flex-column" *ngIf="!removeFromCart">

          <p class="card-text">
            Start reservation :
          </p>

          <!---
          <div class="p-0 align-items-center">
            <p class="card-text">From :
            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </p>
          </div>

          <div class="p-0 align-items-center">
            <p class="card-text">To :
            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </p>
          </div>
          --->
          <div class="p-0 align-items-center">
            <p class="card-text">Number of adult :
            <input type="number" min="1" max="10" step="1" [(ngModel)]="travelPackage.nbr_adult">
            </p>
          </div>

          <div class="p-0 align-items-center">
            <p class="card-text">Number of children :
            <input type="number" min="0" max="10" step="1" [(ngModel)]="travelPackage.nbr_child">
            </p>
          </div>

          <div class="p-2">
            <button class="btn btn-primary mb-3 " [routerLink]="" (click)="addToCart()">Add to Cart</button>
          </div>

        </div>

        <div class="d-flex flex-column" *ngIf="removeFromCart">

          <p class="card-text">
            Your pending reservation :
          </p>

          <div class="p-0 align-items-center">
            <p class="card-text">Number of adult : {{travelPackage.nbr_adult}}</p>
          </div>

          <div class="p-0 align-items-center">
            <p class="card-text">Number of children : {{travelPackage.nbr_child}}
            </p>
          </div>

          <div class="p-2">
            <button class="btn btn-primary mb-3 " [routerLink]="" (click)="removeToCart(travelPackage.id)">Remove to Cart</button>
          </div>

        </div>




      </div>
    </div>

  </div>

   <div class="card mt-4">
    <div class="card-header">
      Course of the journey
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of sortedItems" class="list-group-item">
        <ng-container [ngSwitch]="item['type']">
          <div><h6>{{ item['type'] }}</h6></div>
          <ng-container *ngSwitchCase="'Flight'">
            <!-- Flight details -->
            <div>From {{ item['departureCity'] }} ({{item['departureAirport']}}) to {{ item['arrivalCity'] }} ({{item['arrivalAirport']}}) - {{ item['airline'] }} (${{ item['price'] }})</div>
            <div>Departure: {{ item['departureDate'] | date:'medium' }}</div>
            <div>Arrival: {{ item['arrivalDate'] | date:'medium' }}</div>
          </ng-container>

          <ng-container *ngSwitchCase="'Hotel'">
            <!-- Hotel details -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 me-3">
                <div><span class="hotel-name">{{ item['hotel']['name'] }} (${{ item['totalPrice'] }})</span>
                  <a *ngIf="item['hotel']['website']" href="{{ item['hotel']['website'] }}" target="_blank" class="no-underline website-link ms-2"><i class="fas fa-globe"></i> Website</a></div>
                <div>{{ item['hotel']['location'] }}</div>
                <div>Check-in: {{ item['checkIn'] | date:'mediumDate' }}</div>
                <div>Check-out: {{ item['checkOut'] | date:'mediumDate' }}</div>
              </div>
              <!-- Image container for Hotel -->
              <div *ngIf="item['hotel']['photo']">
                <img [src]="item['hotel']['photo'].url" class="img-fluid rounded-2" alt="{{ item['hotel']['photo'].caption || 'Hotel photo' }}" style="object-fit: cover; width: 200px; height: 150px;">
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'Activity'">
            <!-- Activity details with first photo from a list -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 me-3">
                <div>{{ item['name'] }} (${{ item['price'] }})</div>
                <div>Date: {{ item['date'] | date:'mediumDate' }} at {{ item['location'] }}</div>
              </div>
              <!-- Image container for Activity, displaying the first photo -->
              <div *ngIf="item['photos'] && item['photos'].length > 0">
                <img [src]="item['photos'][0].url" class="img-fluid rounded-2" alt="{{ item['photos'][0].caption || 'Activity photo' }}" style="object-fit: cover; width: 200px; height: 150px;">
              </div>
            </div>
          </ng-container>

        </ng-container>
      </li>
    </ul>
  </div>
</div>

<ng-template #noPackageInfo>
  <p>Package information is not available.</p>
</ng-template>

<ng-template #noPhoto>
  <div class="no-photo-available">No photo available</div>
</ng-template>
