<div *ngIf="travelPackage; else noPackageInfo">
  <div class="mt-4 card">
    <div class="card-header">
      <i class="fas fa-arrow-left go-back-icon" (click)="goBack()" aria-hidden="true" title="Go back"></i>
      Travel Package
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Image container -->
        <div *ngIf="travelPackage.photos && travelPackage.photos.length > 0; else noPhoto" class="col-md-4">
          <img [src]="photoUrl" class="img-fluid rounded-2" [alt]="photoCaption">
        </div>
        <!-- Text content -->
        <div class="col-md-5">
            <h4 class="card-title mb-3">{{ travelPackage!.name }}</h4>
            <p class="card-text">{{ travelPackage!.description }}</p>
            <p class="card-text">Price: ${{ travelPackage!.price }}</p>
            <p class="card-text"><b>Travel Dates: {{ travelPackage!.startingDate | date: 'short'}} - {{ travelPackage!.endingDate | date: 'short' }}</b></p>
        </div>
        <!-- Reservation section -->
        <div class="col-md-3" *ngIf="!removeFromCart">
          <h5 class="mb-3">Start Reservation</h5>
          <div>
            <label class="form-label">Number of adults:</label>
            <input type="number" class="form-control mb-2" min="1" max="10" step="1" [(ngModel)]="nbrPerson.nbr_adult">
          </div>
          <div>
            <label class="form-label">Number of children:</label>
            <input type="number" class="form-control mb-2" min="0" max="10" step="1" [(ngModel)]="nbrPerson.nbr_child">
          </div>
          <button class="btn btn-primary" [routerLink]="" (click)="addToCart()">Add to Cart</button>
        </div>
        <!-- If item is in cart -->
        <div class="col-md-3" *ngIf="removeFromCart">
          <h5 class="mb-3">Your pending reservation:</h5>
          <p class="card-text">Number of adult: {{nbrPerson.nbr_adult}}</p>
          <p class="card-text">Number of children: {{nbrPerson.nbr_child}}</p>
          <button class="btn btn-primary" [routerLink]="" (click)="removeToCart(travelPackage.id)">Remove to Cart</button>
        </div>
      </div>
    </div>
  </div>

   <div class="card mt-4">
    <div class="card-header">
      Course of the journey
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of sortedItems" class="list-group-item">
        <ng-container [ngSwitch]="item['type']">
          <div><h6><b>{{ item['type'] }}</b></h6></div>

          <ng-container *ngSwitchCase="'Flight'">
            <!-- Flight details -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 me-3">
                <div>From {{ item['departureCity'] }} ({{item['departureAirport']}}) to {{ item['arrivalCity'] }} ({{item['arrivalAirport']}}) - {{ item['airline'] }} (${{ item['price'] }})</div>
                <div>Departure: {{ item['departureDate'] | date:'medium' }}</div>
                <div>Arrival: {{ item['arrivalDate'] | date:'medium' }}</div>
              </div>
              <div>
                <!-- Image container for Hotel -->
                <img [src]="item['airlineLogo']" class="img-fluid" alt="{{ item['airline'] || 'Airline logo' }}" style="object-fit: cover; max-width: 120px; margin-right: 20px">
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'Hotel'">
            <!-- Hotel details -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 me-3">
                <div><span class="hotel-name">{{ item['hotel']['name'] }} (${{ item['totalPrice'] }})</span>
                  <a *ngIf="item['hotel']['website']" href="{{ item['hotel']['website'] }}" target="_blank" class="no-underline website-link ms-2"><i class="fas fa-globe"></i> Website</a></div>
                <div>{{ item['hotel']['location'] }}</div>
                <div>Check-in: {{ item['checkIn'] | date:'mediumDate' }}</div>
                <div>Check-out: {{ item['checkOut'] | date:'mediumDate' }}</div>
              </div>
              <!-- Image container for Hotel -->
              <div *ngIf="item['hotel']['photos']">
                <img [src]="item['hotel']['photos'].url" class="img-fluid rounded-2" alt="{{ item['hotel']['photos'].caption || 'Hotel photo' }}" style="object-fit: cover; width: 200px; height: 150px;">
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'Activity'">
            <!-- Activity details with first photo from a list -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1 me-3">
                <div>{{ item['name'] }} (${{ item['price'] }})</div>
                <div>Date: {{ item['date'] | date:'mediumDate' }} at {{ item['location'] }}</div>
              </div>
              <!-- Image container for Activity, displaying the first photo -->
              <!--
              <div *ngIf="item['photos'] && item['photos'].length > 0">
                <img [src]="item['photos'][0].url" class="img-fluid rounded-2" alt="{{ item['photos'][0].caption || 'Activity photo' }}" style="object-fit: cover; width: 200px; height: 150px;">
              </div>
              -->
              <div>
                <img [src]="item['photos'].url" class="img-fluid rounded-2" alt="{{ item['photos'].caption || 'Activity photo' }}" style="object-fit: cover; width: 200px; height: 150px;">
              </div>
            </div>
          </ng-container>

        </ng-container>
      </li>
    </ul>
  </div>
</div>

<ng-template #noPackageInfo>
  <p>Package information is not available.</p>
</ng-template>

<ng-template #noPhoto>
  <div class="no-photo-available">No photo available</div>
</ng-template>
