<div class="content-container mt-3">
  <!-- Activities displayed in a card format -->
  <div class="row">
    <div class="col-md-12" *ngFor="let activity of activities; let i = index">
      <div class="card mb-4 shadow-sm">
        <div class="row g-0 align-items-center">
          <div class="col-md-2">
            <ng-container *ngIf="activity.photos && activity.photos.length; else noPhoto">
              <!-- <img [src]="activity.photos[0].url" class="img-fluid rounded-start" alt="{{ activity.name }}" style="object-fit: cover; width: 100%; height: auto;"> -->
              <img [src]="activity.photos[0].url" class="img-fluid rounded-start" alt="{{ activity.name }}" style="object-fit: cover; width: 100%; height: auto;">
            </ng-container>
            <ng-template #noPhoto>
              <img src="assets/images/placeholder/placeholder_default.png" class="img-fluid rounded-start" alt="Placeholder" style="object-fit: cover; width: 100%; height: auto;">
            </ng-template>
          </div>
          <div class="col-md-10">
            <div class="card-body py-1">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="card-title">{{ activity.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ activity.type }}</h6>
                  <p class="card-text">{{ activity.description }}</p>
                  <p class="card-text"><small class="text-muted">{{ activity.location }} - {{ activity.date | date: 'longDate' }}</small></p>
                </div>
                <div class="text-end">
                  <div class="activity-price mb-2">
                    <strong>${{ activity.price }}</strong>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="startEditingActivity(activity.id, $event)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteActivity(i, $event)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: add mandatory fields. Same for hotels and flights -->
  <!-- Edit or Add Activity Form -->
  <div *ngIf="editingActivity || newActivityCheck" class="card p-3 mb-3">
    <h2 class="card-title mb-3">{{newActivityCheck ? 'Add New' : 'Edit'}} Activity</h2>
    <form (ngSubmit)="saveActivity()" class="card-body custom-form">
      <div class="mb-3">
        <label for="activityName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="activityName" [(ngModel)]="currentActivity.name" name="activityName" required>
      </div>
      <div class="mb-3">
        <label for="activityType" class="form-label">Type:</label>
        <input type="text" class="form-control" id="activityType" [(ngModel)]="currentActivity.type" name="activityType" required>
      </div>
      <div class="mb-3">
        <label for="activityDescription" class="form-label">Description:</label>
        <textarea class="form-control" id="activityDescription" [(ngModel)]="currentActivity.description" name="activityDescription" required></textarea>
      </div>
      <div class="mb-3">
        <label for="activityLocation" class="form-label">Location:</label>
        <input type="text" class="form-control" id="activityLocation" [(ngModel)]="currentActivity.location" name="activityLocation" required>
      </div>
      <div class="mb-3">
        <label for="activityDate" class="form-label">Date:</label>
        <input type="date" class="form-control" id="activityDate" [(ngModel)]="currentActivity.date" name="activityDate" required>
      </div>
      <div class="mb-3">
        <label for="activityPrice" class="form-label">Price:</label>
        <input type="number" class="form-control" id="activityPrice" [(ngModel)]="currentActivity.price" name="activityPrice" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Photos:</label>
        <div *ngFor="let photo of currentActivity?.photos; let i = index" class="mb-2">
          <input type="file" (change)="handleFileInput($event, i)" accept="image/*" [id]="'photoFile' + i" [name]="'photoFile' + i">
          <!-- Displaying the photo if it has a URL -->
          <img *ngIf="photo.url" [src]="photo.url" class="img-thumbnail mt-2" style="height: 100px;" [alt]="'Photo ' + (i + 1)">
          <button type="button" class="btn btn-remove btn-danger" style="margin-left: 12px" (click)="removePhoto(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-custom-primary btn-sm mb-3" style="margin-left: 12px" (click)="addPhotoField()" [disabled]="currentActivity!.photos!.length >= 5">Add Photo</button>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-custom-primary me-2">Save Activity</button>
        <button type="button" class="btn btn-custom-secondary" (click)="cancelEditingActivity()">Cancel</button>
      </div>
    </form>
  </div>

  <!-- Button to add new activity, visible when not currently editing/adding -->
  <div *ngIf="!editingActivity" class="mb-0">
    <button (click)="initNewActivity()" class="btn btn-custom-primary">Add Activity</button>
  </div>
</div>
