
<div class="container mt-3">
  <div class="mb-3" style="margin-left: 12px"><h2>Travel Packages Management</h2></div>
  <button *ngIf="!editingPackage" class="btn btn-custom-primary" style="margin-left: 12px; margin-bottom: 30px" (click)="initNewPackage()">Add New Package</button>
  <div class="container mt-3">
    <h4>List of travel packages</h4>
  <div *ngFor="let package of travelPackages; let packageIndex = index" class="card mb-3">
    <div class="card-body">
      <div class="row g-2 align-items-center">
        <div class="col-md-2" style="height: 140px;">
          <ng-container *ngIf="package.photos && package.photos.length; else noPhoto">
            <img [src]="package.photos[0].url" class="img-fluid rounded" alt="{{ package.name }}" style="object-fit: cover; width: 100%; height: 100%;">
          </ng-container>
          <ng-template #noPhoto>
            <img src="assets/images/placeholder/placeholder_default.png" class="img-fluid rounded" alt="Placeholder" style="object-fit: cover; width: 100%; height: 100%;">
          </ng-template>
        </div>
        <div class="col-md-8">
          <h5 class="card-title"><strong>{{ package.name }}</strong></h5>
          <p class="card-text">{{ package.description }}</p>
          <p class="card-text"><small class="text-muted">{{ package.startingDate | date: 'longDate' }} - {{ package.endingDate | date: 'longDate' }}</small></p>
        </div>
        <div class="col-md-2 text-end">
          <div class="package-price mb-2"><strong>${{ package.price }}</strong></div>
          <button class="btn btn-custom-primary" (click)="startEditingPackage(package.id)">Edit</button>
          <button class="btn btn-outline-danger btn-remove" style="margin-top: 0; margin-bottom: 10px; margin-left: 4px;" (click)="confirmPackageDeletion(packageIndex, $event)">Delete</button>
          <button *ngIf="selectedPackageId !== package.id" class="btn btn-custom-primary" style="margin-right: 2px;" (click)="selectPackage(package.id)">Show Journey</button>
          <button *ngIf="selectedPackageId === package.id" class="btn btn-custom-primary" style="margin-right: 2px;" (click)="clearSelection()">Hide Journey</button>
        </div>
      </div>
    </div>
    <!-- Journey details section -->
    <div *ngIf="selectedPackageId === package.id" class="journey-details">

     <div class="card">
       <div class="align-content-center">
         <h3>Journey Details</h3>
         <hr>
       </div>
      <ng-container *ngFor="let item of sortedJourneyItems; let itemIndex = index">
        <div class="list-group-item">
          <div class="row g-0 align-items-center">

            <!-- For Hotels -->
            <ng-container *ngIf="item.itemType === 'hotel'">
              <div class="card-body d-flex flex-column">
                <div class="hotel-banner d-flex align-items-center mb-2">
                  <span class="badge bg-success me-2">HOTEL</span>
                  <span>{{ item.checkIn | date:'mediumDate' }}</span>
                </div>
                <div class="d-flex flex-grow-1">
                  <div class="d-flex align-items-center justify-content-center p-2" style="flex-basis: 20%;">
                    <img *ngIf="item.hotel.photo?.url" [src]="item.hotel.photo.url" alt="{{ item.hotel.name }}" class="img-fluid" style="max-width: 180px;">
                  </div>
                  <div class="d-flex flex-column justify-content-between p-3" style="flex-basis: 65%;">
                    <h5 class="card-title">{{ item.hotel.name }}</h5>
                    <p class="card-text">{{ item.hotel.location }}</p>
                    <p class="card-text mb-0">Check-in: {{ item.checkIn | date: 'mediumDate' }}</p>
                    <p class="card-text mb-0">Check-out: {{ item.checkOut | date: 'mediumDate' }}</p>
                    <p *ngIf="item.hotel.website">Website: <a href="{{item.hotel.website}}" target="_blank">{{item.hotel.website}}</a></p>
                  </div>
                  <div class="d-flex align-items-start justify-content-end pr-3" style="flex-basis: 15%;">
                    <div class="item-price">
                      <strong>${{ item.totalPrice }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


            <!-- For Flights -->
            <ng-container *ngIf="item.itemType === 'flight'">
              <div class="card-body">
                <div class="flight-banner d-flex align-items-center mb-2">
                  <span class="badge bg-primary me-2">FLIGHT</span>
                  <span>{{ item.departureDate | date:'mediumDate' }}</span>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-start">
                  <!-- Airline Logo and Name -->
                  <div class="d-flex flex-column align-items-center flex-shrink-0" style="flex: 0 0 15%;">
                    <img [src]="item.airlineLogo" alt="{{ item.airline }}" class="airline-logo mb-2" style="max-width: 160px;">
                    <div class="airline-name">{{ item.airline }}</div>
                  </div>

                  <!-- Departure Information -->
                  <div class="d-flex justify-content-end" style="flex: 1 1 35%;">
                    <div class="item-date-time text-end">
                      <div class="item-date">{{ item.departureDate | date: 'shortDate' }}</div>
                      <div class="item-time">{{ item.departureDate | date: 'shortTime' }}</div>
                      <div class="item-city">{{ item.departureCity }} ({{ item.departureAirport }})</div>
                    </div>
                  </div>

                  <!-- Arrow and Flight Duration -->
                  <div class="d-flex flex-column align-items-center flex-shrink-0" style="flex: 0 0 10%;">
                    <i class="fas fa-arrow-right"></i>
                    <div class="flight-duration">{{ MinToHoursMin(item.duration) }}</div>
                    <div class="direct-label">Direct</div>
                  </div>

                  <!-- Arrival Information -->
                  <div class="d-flex justify-content-start" style="flex: 1 1 35%;">
                    <div class="item-date-time text-start">
                      <div class="item-date">{{ item.arrivalDate | date: 'shortDate' }}</div>
                      <div class="item-time">{{ item.arrivalDate | date: 'shortTime' }}</div>
                      <div class="item-city">{{ item.arrivalCity }} ({{ item.arrivalAirport }})</div>
                    </div>
                  </div>

                  <!-- Price -->
                  <div class="ms-auto" style="flex: 0 1 auto;">
                    <div class="item-price">
                      <strong>${{ item.price }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>






            <!-- For Activities -->
            <ng-container *ngIf="item.itemType === 'activity'">
              <div class="card-body d-flex flex-column">
                <div class="item-banner d-flex align-items-center mb-2">
                  <span class="badge bg-secondary me-2">ACTIVITY</span>
                  <span>{{ item.date | date:'mediumDate' }}</span>
                </div>
                <div class="d-flex flex-grow-1">
                  <div class="d-flex flex-grow-1 align-items-center justify-content-center p-2" style="flex-basis: 20%;">
                    <img *ngIf="item.photos?.[0]?.url" [src]="item.photos[0].url" alt="{{ item.name }}" class="img-fluid" style="max-width: 180px;">
                  </div>
                  <div class="d-flex flex-column justify-content-between p-3" style="flex-basis: 60%;">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.type }}</p>
                    <p class="card-text">{{ item.description }}</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-end pr-3" style="flex-basis: 20%;">
                    <div class="item-price">
                      <strong>${{ item.price }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
          <hr *ngIf="itemIndex < sortedJourneyItems.length - 1">
        </div>
      </ng-container>
       </div>
    </div>

  </div>
</div>


  <!-- Button to add new package -->
  <button *ngIf="!editingPackage" class="btn btn-custom-primary" style="margin-left: 12px; margin-bottom: 30px" (click)="initNewPackage()">Add New Package</button>

  <!-- Package editing/adding form -->
  <div *ngIf="editingPackage" class="card p-3 mb-3">
    <h2 class="card-title">{{editingPackage.id ? 'Edit' : 'Add New'}} Package</h2>
    <div class="card-body">
      <!-- Basic package information -->
      <div class="mb-3">
        <label for="packageName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="packageName" [(ngModel)]="editingPackage.name" name="packageName" required>
      </div>
      <div class="mb-3">
        <label for="packageDescription" class="form-label">Description:</label>
        <textarea class="form-control" id="packageDescription" [(ngModel)]="editingPackage.description" name="packageDescription" required></textarea>
      </div>
      <div class="mb-3">
        <label for="packagePrice" class="form-label">Price:</label>
        <input type="number" class="form-control" id="packagePrice" [(ngModel)]="editingPackage.price" name="packagePrice" required>
      </div>

      <!-- Date range -->
      <div class="mb-3 row">
        <div class="col">
          <label for="startingDate" class="form-label">Starting Date:</label>
          <input type="date" class="form-control" id="startingDate" [(ngModel)]="editingPackage.startingDate" name="startingDate" required>
        </div>
        <div class="col">
          <label for="endingDate" class="form-label">Ending Date:</label>
          <input type="date" class="form-control" id="endingDate" [(ngModel)]="editingPackage.endingDate" name="endingDate" required>
        </div>
      </div>

      <!-- Photo upload input -->
      <div class="mb-3">
        <label for="packagePhoto" class="form-label">Upload Photo:</label>
        <input type="file" id="packagePhoto" (change)="handleFileInput($event)" accept="image/*" class="form-control">
      </div>

      <!-- Embedded Components for Hotels, Flights, and Activities
      <app-agent-hotel-management [(hotelBookings)]="editingPackage.hotels!"></app-agent-hotel-management>
      <app-agent-flight-management [(flights)]="editingPackage.flights!"></app-agent-flight-management>
      <app-agent-activity-management [(activities)]="editingPackage.activities!"></app-agent-activity-management>
      -->
      <!-- Package actions -->
      <div class="mt-3 text-end">
        <button class="btn btn-custom-primary" style="margin-right: 8px" (click)="savePackage()">Save Package</button>
        <button class="btn btn-custom-secondary" (click)="cancelEditingPackage()">Cancel</button>
      </div>
    </div>
  </div>
</div>
