/* agent-packages.component.css */

.content-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; /* Adjusts padding for smaller screens */
  padding-right: 15px; /* Adjusts padding for smaller screens */
  max-width: 1000px; /* Maximum width of the content, adjust as needed */
}

.custom-form {
  box-shadow: none !important; /* Remove shadow */
  padding: 0 !important;
}

/* Styling for forms and their elements */
form {
  background: #ffffff; /* Sets a white background for forms */
  padding: 20px; /* Adds padding inside the form */
  border-radius: 0.5rem; /* Rounds the corners of the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the form */
  margin-bottom: 20px; /* Adds space below the form */
}

.airline-logo {
  max-width: 80px !important; /* Adjust size as needed */
}

.flight-times {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem; /* Adjust as needed */
}

.flight-times .arrow {
  font-size: 2rem; /* Adjust size as needed */
}

.flight-price strong {
  font-size: 1.5rem; /* Large text for price */
}

.card {
  border-color: #6c757d;
}

.my-2{
  color: lightgray;
  opacity: 0.8;
  padding-top: 100px;
}
