.signup-container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.signup-container h2 {
  color: #333;
}

.form-control {
  border-color: #ccc;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.login-link {
  color: #007bff;
}

.login-link:hover {
  color: #0056b3;
  text-decoration: none;
}
