<div class="container signup-container" *ngIf="!sessionStorage.getItem('accessToken')">
  <h2 class="text-center mb-4">Sign Up</h2>
  <form (ngSubmit)="signUp()">
    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter first name" [(ngModel)]="userRegister.first_Name" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter last name" [(ngModel)]="userRegister.last_Name" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="userRegister.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" [(ngModel)]="userRegister.password" name="password" required>
    </div>
    <div class="form-group">
      <label for="pwd-confirm">Confirm Password:</label>
      <input type="password" class="form-control" id="pwd-confirm" placeholder="Confirm password" [(ngModel)]="userRegister.confirmPassword" name="confirmPassword">
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-block">Sign Up</button>
    </div>
  </form>
  <div class="text-center mt-3">
    Already have an account? <a [routerLink]="['/login']" class="login-link">Log In</a>
  </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center" *ngIf="sessionStorage.getItem('accessToken')">
  <h3 class="my-2">You are already logged in !</h3>
</div>
