<div class="container login-container" *ngIf="!sessionStorage.getItem('accessToken')">
  <h2 class="text-center mb-4">Login</h2>
  <form (ngSubmit)="Login()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="userLogin.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" [(ngModel)]="userLogin.password" name="password" required>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-block mx-auto">Sign In</button>
    </div>
  </form>
  <div class="text-center mt-3">
    <a [routerLink]="['/forgot-password']">Forgot Password?</a>
  </div>
  <div class="text-center mt-3">
    New Member? <a [routerLink]="['/signup']">Sign Up</a>
  </div>
</div>


<div class="h-100 d-flex align-items-center justify-content-center" *ngIf="sessionStorage.getItem('accessToken')">
  <h3 class="my-2">You are already logged in !</h3>
</div>
