body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.card-header {
  font-size: 18px;
}

.card-text {
  margin-bottom: 5px;
}

.no-underline {
  text-decoration: none;
}

.website-link {
  color: #007BFF;
}

.website-link .fas {
  color: inherit;
}

.nav-item {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
}

.navbar {
  background-color: transparent;
}

.btn-primary-modify{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-primary-modify:hover{
  opacity: 0.9;
}

.btn-primary-cancel{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

.btn-primary-cancel:hover{
  opacity: 0.9;
}



