<div class="content-container mt-3">
  <!-- Hotel Bookings displayed in a card format -->
  <div class="row">
    <div class="col-md-12" *ngFor="let booking of hotelBookings; let i = index">
      <div class="card mb-4 shadow-sm">
        <div class="row g-0 align-items-center">
          <div class="col-md-2">
            <img *ngIf="booking.hotel.photo?.url" [src]="booking.hotel!.photo!.url" class="img-fluid rounded-start" alt="{{ booking.hotel.name }}" style="object-fit: cover; width: 100%; height: auto;">
            <img *ngIf="!booking.hotel.photo?.url" src="assets/images/placeholder/placeholder_default.png" class="img-fluid rounded-start" alt="Placeholder" style="object-fit: cover; width: 100%; height: auto;">
          </div>
          <div class="col-md-10">
            <div class="card-body py-1">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="card-title">{{ booking.hotel.name }}</h5>
                  <p class="card-text"><small class="text-muted">{{ booking.hotel.location }}</small></p>
                  <p class="card-text">Check-in: {{ booking.checkIn | date: 'longDate' }} - Check-out: {{ booking.checkOut | date: 'longDate' }}</p>
                  <p class="card-text"><strong>Total: ${{ booking.totalPrice }}</strong></p>
                </div>
                <div class="text-end">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="startEditingHotelBooking(booking.id, $event)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteHotelBooking(i, $event)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>

  <!-- Edit or Add Hotel Booking Form -->
    <div *ngIf="editingHotelBooking" class="card p-3 mb-3">
      <h2 class="card-title mb-3">{{editingHotelBooking.id ? 'Edit' : 'Add New'}} Hotel Booking</h2>
      <form (ngSubmit)="saveHotelBooking()" class="card-body custom-form">
        <!-- Hotel Name -->
        <div class="mb-3">
          <label for="hotelName" class="form-label">Hotel Name:</label>
          <input type="text" class="form-control" id="hotelName" [(ngModel)]="editingHotelBooking.hotel.name" name="hotelName" required>
        </div>
        <!-- Hotel Location -->
        <div class="mb-3">
          <label for="hotelLocation" class="form-label">Location:</label>
          <input type="text" class="form-control" id="hotelLocation" [(ngModel)]="editingHotelBooking.hotel.location" name="hotelLocation" required>
        </div>
        <!-- Hotel Website (Optional) -->
        <div class="mb-3">
          <label for="hotelWebsite" class="form-label">Website:</label>
          <input type="url" class="form-control" id="hotelWebsite" [(ngModel)]="editingHotelBooking.hotel.website" name="hotelWebsite">
        </div>
        <!-- Check-in Date -->
        <div class="mb-3">
          <label for="checkInDate" class="form-label">Check-In Date:</label>
          <input type="date" class="form-control" id="checkInDate" [(ngModel)]="editingHotelBooking.checkIn" name="checkInDate" required>
        </div>
        <!-- Check-out Date -->
        <div class="mb-3">
          <label for="checkOutDate" class="form-label">Check-Out Date:</label>
          <input type="date" class="form-control" id="checkOutDate" [(ngModel)]="editingHotelBooking.checkOut" name="checkOutDate" required>
        </div>
        <!-- Total Price -->
        <div class="mb-3">
          <label for="totalPrice" class="form-label">Total Price:</label>
          <input type="number" class="form-control" id="totalPrice" [(ngModel)]="editingHotelBooking.totalPrice" name="totalPrice" required>
        </div>
        <!-- Hotel Photo Upload -->
        <div class="mb-3">
          <label class="form-label">Hotel Photo:</label>
          <input type="file" (change)="handleFileInput($event)" accept="image/*" id="hotelPhoto" name="hotelPhoto">
          <!-- Display the hotel photo if it has a URL -->
          <img *ngIf="editingHotelBooking?.hotel?.photo?.url" [src]="editingHotelBooking!.hotel!.photo!.url" class="img-thumbnail mt-2" style="height: 100px;" alt="Hotel Photo">
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-custom-primary me-2">Save Hotel</button>
          <button type="button" class="btn btn-custom-secondary" (click)="cancelEditingHotelBooking()">Cancel</button>
        </div>
      </form>
    </div>

    <!-- Button to add new hotel booking, visible when not currently editing/adding -->
    <div *ngIf="!editingHotelBooking" class="mb-3">
      <button (click)="initNewHotelBooking()" class="btn btn-custom-primary">Add Hotel Booking</button>
    </div>
  </div>
</div>
