<!-- navbar.component.html -->
<div class="container">
  <!-- Navigation Bar -->
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inbox</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
