<div class="d-flex">
    <h2 class="my-1">Notifications</h2>
    <button *ngIf="sessionStorage.getItem('accessToken') && !want_send_message" class="btn btn-primary" (click)="changeFeature()">Send message</button>
  <button *ngIf="sessionStorage.getItem('accessToken') && want_send_message" class="btn btn-secondary" (click)="changeFeature()">See message</button>
</div>
<hr>
<div class="h-100 d-flex align-items-center justify-content-center" *ngIf="!sessionStorage.getItem('accessToken')">
  <h3 class="my-2">You need to be login to access notification !</h3>
</div>

<div *ngIf="sessionStorage.getItem('accessToken') && !want_send_message">
  <div class="col container" *ngFor="let notif of Notifs">
    <div class="notification">
        <h4 id="message_received" *ngIf="notif.recipient === user_id">Message received</h4>
        <h4 id="message_sent" *ngIf="notif.sender === user_id">Message sent</h4>
        <span id="message">{{notif.message}}</span>
        <p><strong *ngIf="notif.recipient === user_id">From: </strong>
          <strong *ngIf="notif.sender === user_id">To: </strong>
          <span id="sender">{{ notif.sender }}</span>&nbsp;&nbsp;&nbsp;&nbsp; <!-- Add space between sender and time -->
          <strong>Time: </strong> <span id="time">{{ showDate(notif.timestamp) }}</span></p>
    </div>
  </div>
</div>

<div *ngIf="sessionStorage.getItem('accessToken') && want_send_message">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h3 id="send_message">Send message</h3>
    </div>
    <div class="d-flex justify-content-center my-3">
      <textarea class="form-control" [(ngModel)]="send_message.message" placeholder="Enter your message here"></textarea>
    </div>
    <div class="d-flex justify-content-center my-3">
      <span class="recipient-text">Recipient: </span> &nbsp;&nbsp;&nbsp;&nbsp;
      <select class="form-select" [(ngModel)]="send_message.recipient">
        <option *ngFor="let user of Users" [value]="user.id">{{ user.name }}</option>
      </select>
    </div>
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>

