.content-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; /* Adjusts padding for smaller screens */
  padding-right: 15px; /* Adjusts padding for smaller screens */
  max-width: 1000px; /* Maximum width of the content, adjust as needed */
}

/* Spacing and styling for the list group */
.list-group-item {
  padding-bottom: 20px;
  margin-bottom: 10px; /* Adds space between list items */
  border-color: transparent;
  /*transition: transform 0.2s; */ /* Smooth transition for hover effect */
}

.list-group-item:hover {
  /*transform: scale(1.02); *//* Slightly enlarges the item on hover */
  background-color:  transparent; /* #f8f9fa; */ /* Changes background color on hover */
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust the space between icons */
}

/* Styling for the pen icon to indicate editability */
.fa-pen {
  color: #0d6efd; /* Bootstrap primary color for consistency */
  cursor: pointer; /* Indicates the icon is clickable */
}
.fa-trash {
  color: #dc3545;
  cursor: pointer;
}

.fa-chevron-down {
  cursor: pointer;
}

.fa-chevron-up {
  cursor: pointer;
}

.interactive-section h5 {
  cursor: pointer;
}

/* General button styling for consistency */
button {
  margin-right: 10px; /* Adds space to the right of buttons */
}

/* Add and Cancel button specific styling */
.btn-primary, .btn-secondary {
  border-radius: 20px; /* Makes buttons more pill-shaped */
}

/* Enhances visual feedback for clickable items */
.btn:hover, .list-group-item-action:hover {
  opacity: 0.9; /* Slightly reduces opacity on hover */
}

.image-container img {
  object-fit: cover;
  width: 100px; /* Adjust based on your preference */
  height: 100px; /* Adjust to maintain 1:1 aspect ratio */
  border-radius: 50%; /* Creates a circle shape */
  margin-right: 20px;
}

.list-group-item-action {
  display: flex;
  align-items: center; /* Aligns items vertically center */
}

.text-content {
  flex-grow: 1;
  padding-right: 20px; /* Adds some spacing between the text and the icons */
  align-items: center;
  width: 250px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.icon-container i {
  margin-left: 10px; /* Adds spacing between icons */
}

.nav-item {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
}

.navbar {
  background-color: transparent;
}

.action-buttons .btn {
  border-radius: 20px;
}

.btn-custom {
  padding: 5px 25px; /* Increase padding for larger button size */
  font-size: 1rem; /* Increase font size for larger text */
  border-radius: 100px; /* Rounded corners */
  margin-bottom: 10px; /* Space between buttons */
  border: 1px solid gray; /* Thicker border */
}
