/* You can add global styles to this file, and also import other style files */

body {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.content-container {
  padding-left: 2vw;
  padding-right: 2vw;
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.navbar-brand {
  font-weight: bold;
  color: darkgreen !important;
}

.nav-link {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
  background-color: darkgreen !important; /* Active link background color */
}

.btn-remove {
  margin-top: 10px;
  border-radius: 100px;
}

.btn-custom-primary {
  padding: 5px 25px; /* Increase padding for larger button size */
  font-size: 1rem; /* Increase font size for larger text */
  border-radius: 100px; /* Rounded corners */
  margin-bottom: 10px; /* Space between buttons */
  border: 1px solid black; /* Thicker border */
  color: white;
  background-color: black;
}

.btn-custom-primary:hover {
  background-color: #333333 !important;
  color: white !important;
}

.btn-custom-primary:focus {
  background-color: #333333;
  color: white;
}

.btn-custom-secondary {
  padding: 5px 25px; /* Increase padding for larger button size */
  font-size: 1rem; /* Increase font size for larger text */
  border-radius: 100px; /* Rounded corners */
  margin-bottom: 10px; /* Space between buttons */
  border: 1px solid lightgray; /* Thicker border */
}

.btn-custom-secondary:hover {
  border: 1px solid black; /* Border color changes to black on hover */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
