<div class="container reset-password-container">
  <h2 class="text-center mb-4">Reset Password</h2>
  <form (ngSubmit)="ResetPassword()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="userResetPassword.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="reset-code">Reset code:</label>
      <input type="text" class="form-control" id="reset-code" placeholder="Enter the reset code" [(ngModel)]="userResetPassword.reset_code" name="reset-code" required>
    </div>
    <div class="form-group">
      <label for="new-password">New password:</label>
      <input type="password" class="form-control" id="new-password" placeholder="Enter your new password" [(ngModel)]="userResetPassword.new_password" name="new-password" required>
    </div>
    <div class="form-group">
      <label for="confirm-new-password">Confirm new password:</label>
      <input type="password" class="form-control" id="confirm-new-password" placeholder="Confirm your password" [(ngModel)]="userResetPassword.confirmPassword" name="confirm-new-password" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
    </div>
  </form>
  <div class="text-center mt-3">
    Remembered your password? <a [routerLink]="['/login']" class="login-link">Log In</a>
  </div>
</div>
